# common
package-lock.json
node_modules
out
tags
tags.lock
tags.temp
.DS_Store

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# rescript
.merlin
lib
.bsb.lock

# test
.nyc_output
coverage
cypress/videos/
cypress/screenshots/

# relay
src/__generated__

# tailwindcss
.tailwind_ppx_cache/
styles/.tailwind.dev.css

# next.js
.next/
.vercel

.env.local
.env.development

*.mjs
*.bs.js
